@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Roboto:400,700|Trirong&display=swap');

body
{
    font-family: 'roboto', sans-serif;
}

h1,h2,h3
{
    font-family: 'Archivo Narrow', sans-serif;
}

h4,h5,h6
{
    font-family: 'Trirong', sans-serif;
}
.jumbotron
{
    margin: 0;
}