@import url('https://fonts.googleapis.com/css?family=Archivo:400,700|Roboto:400,700|Montserrat:400,700&display=swap');

html {
    font-size: 100%;
}

body {
    font-family: 'roboto', sans-serif;
    color: #171726;
    background-color: #171726;
    /* Change main-content bg colour, not this colour */
}

/* --------------------------------------------COLOURS */

.darkgold {
    background-color: #9E8956;
}

/* ------------------SPECIAL MARGINS - WRAPPERS - TEXT */

.page-header {
    text-align: center;
    padding-bottom: 2rem;
}

.uppercase {
    text-transform: uppercase;
}

.spaced {
    letter-spacing: 0.2rem;
}

.relative-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

/* ------------------------------------------ H TAGS */

h1, h2, h3, h4 {
    font-family: 'Archivo', sans-serif;
}

h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/* ------------------------------------------ HEADER */

.jumbotron {
    margin: 0;
    background-color: #E4E5E9;
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    /* Code for background-image taken from heropatterns.com */
    background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23171726' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.navbar-toggler i {
    color: #E4E5E9;
    font-size: 2rem;
}

.company-name>h1 {
    text-align: center;
}

/* At medium+ resolutions, container div justify-content is flex-start, so left align the text
   to bring it closer to the logo */
@media(min-width: 768px) {
    .company-name>h1 {
        text-align: left;
    }
}

.company-name {
    justify-content: center;
}


/* If content is centred at these resolutions, the company name is too far away from the logo. So 
   make sure it's flex-start to keep it close to the logo */
@media(min-width: 768px) {
    .company-name {
        justify-content: flex-start;
    }
}

.slogan, .contact-details {
    text-align: center;
}

.slogan {
    margin-bottom: 1.143rem;
    font-weight: 700;
}

.contact-details {
    color: #171726;
    background-color: #E4E5E9;
}

.contact-details i {
    color: #9E8956;
    font-size: 1.3rem;
    margin-right: 0.5rem;
}

.contact-details a, .contact-details a:hover {
    color: #171726;
    text-decoration: none;
    cursor: pointer;
}

/* Negative margin to prevent any whitespace between these two items
in the header */

.no-bottom-border {
    margin-bottom: -0.07143rem;
    background-color: #E4E5E9;
    color: #171726;
    border-radius: 2.571rem 2.571rem 0 0;
    border-top: 0.1429rem solid #9E8956;
    border-bottom: none;
    border-left: 0.1429rem solid #9E8956;
    border-right: 0.1429rem solid #9E8956;
    /* Box shadow code taken from https://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: inset 0rem 1.714rem 2.929rem -2.214rem rgba(23, 23, 38, 1);
    -moz-box-shadow: inset 0rem 1.714rem 2.929rem -2.214rem rgba(23, 23, 38, 1);
    box-shadow: inset 0rem 1.714rem 2.929rem -2.214rem rgba(23, 23, 38, 1);
}

.no-top-border {
    margin-top: -0.07143rem;
    background-color: #E4E5E9;
    color: #171726;
    border-radius: 0 0 2.571rem 2.571rem;
    border-top: none;
    border-bottom: 0.1429rem solid #9E8956;
    border-left: 0.1429rem solid #9E8956;
    border-right: 0.1429rem solid #9E8956;
    /* Box shadow code taken from https://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: inset 0rem -1.714rem 2.929rem -2.214rem rgba(23, 23, 38, 1);
    -moz-box-shadow: inset 0rem -1.714rem 2.929rem -2.214rem rgba(23, 23, 38, 1);
    box-shadow: inset 0rem -1.714rem 2.929rem -2.214rem rgba(23, 23, 38, 1);
}

.no-bottom-border>h4 {
    padding-top: 2rem;
}

.no-top-border>h4 {
    padding-bottom: 2rem;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Pull logo to the right when sharing a row with another col */
@media(min-width: 768px) {
    .logo img {
        margin-right: 0;
    }
}

.headerBreak {
    height: 0.1rem;
    width: 30%;
    background-color: #9E8956;
}

/* ------------------------------------------ NAV BAR  */

.navbar {
    background-color: #171726;
    color: #E4E5E9;
}

.navbar-nav .nav-link {
    color: #E4E5E9;
    font-weight: 700;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.nav-item:hover .nav-link {
    color: #9E8956;
}

.dropdown-toggle, .dropdown-toggle:hover {
    color: #E4E5E9;
}

.dropdown-menu {
    background-color: #E4E5E9;
}

.dropdown-item {
    color: #171726;
}

.dropdown-item.active, .dropdown-item:active {
    color: #E4E5E9;
    background-color: #171726;
    text-decoration: underline;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #E4E5E9;
    background-color: #171726;
    text-decoration: none;
}

/* ------------------------------------------ REVIEWS */

.media {
    border: 3px double #9E8956;
    background-color: rgb(0, 0, 0, 0.1);
    padding: 1rem;
}

.media>img {
    margin-right: 1rem;
}

.media-header {
    font-weight: 700;
}

.blockquote::before {
    content: "\"";
}

.blockquote::after {
    content: "\"";
}

.blockquote p {
    display: inline;
    font-size: 1rem;
    padding: 0;
}

.rating {
    color: #9E8956;
    background-color: rgb(23, 23, 38, 0.09);
    text-align: center;
}

.rating i {
    margin-right: 0.1429rem;
}

/* ------------------------------------------ CAROUSEL */

.carousel-inner {
    max-height: 35vh !important;
    width: 100%;
}

#tagLine {
    width: 20%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: absolute;
    top: 0;
    left: 40%;
    z-index: 10;
    text-align: center;
}

#tagLine h4 {
    padding-top: 1em;
    /* Use em to scale with parent element rather than root */
    font-size: 1.5em;
}

/* Make sure the tagline doesn't overflow out of the div */

@media(min-width: 992px) {
    #tagLine h4 {
        padding-top: 1.5em;
        font-size: 2em;
    }
}

/* ------------------------------------------ SECTION */

.main-content {
    padding: 2rem;
    background-color: #E4E5E9;
}

.main-content a, .main-content a:hover {
    color: #9E000B;
    font-weight: 700;
    text-decoration: none;
}

/* ------------------------------------------ CONTACT */

.form-wrapper {
    border: 0.07143rem solid rgba(23, 23, 38, 0.2);
    padding: 1rem 3rem;
}

.form-wrapper h3 {
    text-align: center;
    padding-bottom: 1rem;
}

.form-wrapper .btn, .modal-footer .btn {
    background-color: #4A4356;
    color: #E4E5E9;
}

.form-wrapper label {
    color: #171726;
}

.form-wrapper label.required::after, #requiredHelp::after {
    content: '*';
    color: #9E000B;
}

/* --------------------------------------- GROUNDWORK */

.text-content {
    padding-bottom: 3rem;
}


.text-content p i {
    color: #9E8956;
    font-size: 2rem;
    padding: 0.5rem;
}

.gallery-img {
    opacity: 0.8;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.gallery-img:hover {
    opacity: 1;
}

.img-container {
    padding: 0;
    margin: 0;
}

.gallery {
    padding-right: 5rem;
}

.img-thumbnail {
    border: 0.07143rem solid #171726;
}

/* ------------------------------------------ FOOTER */

footer {
    background-color: #171726;
    color: #E4E5E9;
    min-height: 9rem;
    font-size: 1rem;
}

footer i {
    color: #9E8956;
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

footer a, footer a:hover {
    color: #E4E5E9;
    text-decoration: none;
}

.footer-icon {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.footer-icon:hover {
    transform: scale(1.2);
}