@import url('https://fonts.googleapis.com/css?family=Archivo:400,700|Roboto:400,700|Montserrat:400&display=swap');

body
{
    font-family: 'roboto', sans-serif;
}

h1,h2,h3
{
    font-family: 'Archivo', sans-serif;
}

h4,h5,h6
{
    font-family: 'Montserrat', sans-serif;
}
.jumbotron
{
    margin: 0;
}